.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    padding:20px;
    background: url("bg.png") #030728 no-repeat center;
  }




  .login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 400px;
  }
  
  .heading {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-input {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    color: black;
    border: 1px solid #ccc;
  }
  
  .button {
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
  }

  .button-goto{
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    background-color: #28a745;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: black;
  }
  
