.container {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image-container {
    position: relative;
    margin-bottom: 10px;
  }
  .profile-image-container img{
    width:100px;
    height:auto;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid #007BFF;
  }
  
  .edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #007BFF;
    padding: 5px;
    cursor: pointer;
  }
  
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .user-id {
    font-size: 0.875rem;
    color: #888;
  }
  
  .content {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 20px;
    
  }
  
  .section-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
  }
  .section-title1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
  }
  
  .card-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width:100%;
    align-items:left;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .icon-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  
  .item-content {
    flex: 1;
  }
  
  .label {
    font-size: 0.875rem;
    color: #777;
  }
  
  .value {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  .section-title{
    padding-top:10px;
  }
  