.graph-container {
    width: 230px;  /* Adjust based on your UI */
    height: 230px;
    margin:auto;

    width:98%;
    display:flex;
    justify-content:center;
    border-radius:10px;
    background-color:rgb(223, 223, 223);
    padding:10px;
    
  }
  .graph-container .CircularProgressbar{
   width:50%;
 
   
  }
  