

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background: url("bg.png") #030728 no-repeat center;
  }
  
  .signup-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 400px;
  }

  .signup-box h1{
     padding:20px;
  }
  
  .signup-box input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signup-button,
  .login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button {
    background-color: #007bff;
    color: white;
  }
  
  .login-button {
    background-color: #28a745;
    color: white;
  }
  